mat-toolbar {
    display:flex;
    justify-content: space-between;

    h2 {
        display:inline-block;
    }

    button[mat-fab] {
        position:relative;
        top:2em;
    }
}
