h1 {
    display:flex;
    align-items:center;
    justify-content: space-between;
}

mat-grid-list {
    margin:1em 0;
    
    mat-grid-tile {
        background-color:#ccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}