mat-card-title {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.recipe-ingredients-list-header {
    display:flex;
    justify-content: flex-start;
    align-items:center;
}

.button-controls {
    display:flex;
    justify-content: space-around;
}