<mat-card>
    <mat-card-header>
        <h1><span *ngIf="!Editing">{{Recipe.Name}}</span></h1>
        <mat-form-field *ngIf="Editing">
            <input matInput type="text" placeholder="Recipe Name"/>
        </mat-form-field>
    </mat-card-header>
    <mat-card-content>
        <button mat-raised-button type="button" (click)="AddIngredient()">+ Ingredient</button>
        <mat-accordion>
            <mat-expansion-panel #ingredientPanel *ngFor="let ingredient of Recipe.Ingredients">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ingredient.Quantity + " " + ingredient.UnitOfMeasure + " " + ingredient.Name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div [Ingredient]="ingredient" (DeleteIngredient)="IngredientDeleted($event)"></div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" *ngIf="!Editing" (click)="EnableEdit()">Edit</button>
        <button mat-raised-button color="primary" *ngIf="Editing" (click)="SaveRecipe()">Save</button>
        <button mat-raised-button *ngIf="Editing" (click)="DeleteRecipe()">Delete</button>
    </mat-card-actions>
</mat-card>