<div class="row">
	<div class="col" *ngIf="!IsEditing">
		<h3>{{Area.Name}} 
			<button class="btn-success btn" (click)="editAreaName()"><span class="fa fa-edit"></span></button>
		</h3>
	</div>
</div>
<div class="ro1">
	<div class="col-4" *ngIf="IsEditing">
		<div class="input-group">
			<input class="form-control" [(ngModel)]="Area.Name"/>
			<span class="input-group-btn">
				<button class="btn btn-success" (click)="saveAreaName()">
					<span class="fa fa-save"></span>
				</button>
			</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<h3 class="col-12">
			<a href="#IngredientList{{i}}" data-toggle="collapse" aria-expanded="false">
				<span [ngClass]="{'fa':true, 'fa-caret-right':(!showIngredients), 'fa-caret-down':(showIngredients)}"></span>
			</a>
			<span>Ingredients ({{Area.Ingredients.length}})</span>
			<button class="btn btn-success" *ngIf="IsEditing" (click)="addNewIngredient()"><span class="fa fa-plus"></span></button>
		</h3>
		<div id="IngredientList{{i}}" class="collapse">
			<ul class="list-group">
				<li class="list-group-item" *ngFor="let ingredient of Area.Ingredients">
					<div [Ingredient]="ingredient" (DeleteIngredient)="ingredientDeleted(ingredient)"></div>
				</li>
			</ul>
		</div>
	</div>
</div>