<span class="input-group" *ngIf="Edit">
	<mat-form-field style.width="40">
		<input matInput required placeholder="qty" type="number" [(ngModel)]="Ingredient.Quantity"/>
	</mat-form-field>
	<mat-form-field>
		<input matInput required placeholder="units" type="text" [(ngModel)]="Ingredient.UnitOfMeasure"/>
	</mat-form-field>
	<mat-form-field>
		<input matInput required placeholder="ingredient" type="text" [(ngModel)]="Ingredient.Name"/>
	</mat-form-field>
</span>
<mat-form-field *ngIf="Edit">
	<mat-select placeholder="Category" [(ngModel)]="Ingredient.Category">
		<mat-option value="1">Vegetable</mat-option>
		<mat-option value="2">Meat</mat-option>
		<mat-option value="3">Dairy</mat-option>
		<mat-option value="4">Bread</mat-option>
		<mat-option value="5">Cereal</mat-option>
		<mat-option value="6">Spices</mat-option>
		<mat-option value="7">SoftDrink</mat-option>
		<mat-option value="8">Other</mat-option>
	</mat-select>
</mat-form-field>
<span *ngIf="!Edit">{{GetCategoryName(Ingredient.Category)}}</span>
<button mat-raised-button color="accent" (click)="ToggleEdit()">{{Edit ? "Save" : "Edit"}}</button>
<button mat-raised-button color="warn" *ngIf="Edit" (click)="ToggleEdit()">Cancel</button>
<button mat-raised-button color="primary" *ngIf="!Edit" (click)="Delete()">Delete</button>